<title>Share a new book</title>

<% unless @book == nil %>
  <% if !@book.errors.empty? %>
      <div class = "alert alert-error">
        <ul>
          <% @book.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
<% end %>

<div class = "well">
  <%= form_tag(books_new_path) do -%>
      <%= label :book, :title, "Enter Book's Title:" %>
      <br>
      <%= text_field :book, "title" %>
      <br><br>
      <%= label :book, :isbn, "Enter Book's ISBN:" %>
      <br>
      <%= text_field :book, "isbn" %>
      <br><br>
      <%= label :book, :author, "Enter Book's Author:" %>
      <br>
      <%= text_field :book, "author" %>
      <br><br>
      <%= label :book, :location, "Choose Book's location:" %>
      <br>
      <%= file_field :book, "location" %>
      <br>
      <%= link_to "Back", root_path, class: "btn btn-danger" %>
      <%= submit_tag "Save", class: "btn btn-primary" %>
  <% end -%>
</div>